<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diksha.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/index"
        android:label="Amigos"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UserCred"
            android:label="@string/title_activity_user_cred" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Slideshow"
            android:label="@string/title_activity_slideshow" >
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".Menu_Bar"
            android:label="@string/title_activity_menu__bar" >
        </activity>
        <activity
            android:name=".Snacks"
            android:label="@string/title_activity_snacks" >
        </activity>
        <activity
            android:name=".Mains"
            android:label="@string/title_activity_mains" >
        </activity>
        <activity
            android:name=".Beverages"
            android:label="@string/title_activity_beverages" >
        </activity>
        <activity
            android:name=".Sides"
            android:label="@string/title_activity_sides" >
        </activity>


        <activity
            android:name=".Menu_Bar_try"
            android:label="@string/title_activity_menu__bar_try" >
        </activity>
        <activity
            android:name=".OrderStatus"
            android:label="@string/title_activity_order_status" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
